In [11]:
import numpy as np 
import pandas as pd

from data import RandomData, AmazonBooks, ToyData, MovieLensData
from clustering import ClusteringModel

%matplotlib inline
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Data stuff

In [2]:
ds = AmazonBooks(min_user_ratings=10).get_dataset(verbose=True)
train = ds['train']
val = ds['val']

loading preprocessed dataset from disk

In [3]:
print(train.keys())
train['user_product_ratings'].head()

dict_keys(['user_product_ratings', 'product_descriptions', 'product_reviews'])

   product_id  rating  user_id
0        6155     5.0      508
1        6155     5.0      557
2        2060     5.0      992
3        2060     5.0      606
4        6009     4.0      250

In [4]:
# len(train['user_product_ratings'].groupby('user_id')['rating'].count())

grouped_reviews = train['user_product_ratings'].groupby('user_id')['user_id', 'product_id', 'rating']
#     .aggregate(\
#         {'user_id':['mean'], 'review':lambda x: list(x)})
# grouped_reviews .columns = ['product_id', 'review']

In [91]:
# grouped_reviews.groups.keys()

In [202]:
# c_model = ClusteringModel()
# c_model._initialize_users(train)
#

In [98]:
print(u.ratings)
g

[(2910, 4.0), (13886, 5.0), (8848, 5.0)]

       user_id  product_id  rating
943          1        2910     4.0
10947        1       13886     5.0
10951        1        8848     5.0

In [203]:
c.add_user(u)
c.new_center

{2910: (4.0, 1), 8848: (5.0, 1), 13886: (5.0, 1)}

In [204]:
c.recenter()
c.center

{2910: 4.0, 8848: 5.0, 13886: 5.0}

## centroid small tests

In [35]:
from clustering import *

g = grouped_reviews.get_group(1)

c_model = ClusteringModel()
u = c_model.user(user_id= 0, grouped_data=g)
c = c_model.centroid(centroid_id = 0, initial_center={})

c.add_user(u)
c.recenter()

u2 =  c_model.user(user_id= 1, grouped_data=grouped_reviews.get_group(2))

print(c.center)
print(u.ratings)

c_model._distance(u, c)

ratings
{2910: 4.0, 13886: 5.0, 8848: 5.0}
ratings
{9511: 4.0, 9704: 3.0, 14354: 4.0, 9999: 4.0, 13520: 4.0, 3718: 5.0, 7601: 4.0, 4321: 5.0, 11129: 5.0}
{2910: 4.0, 13886: 5.0, 8848: 5.0}
{2910: 4.0, 13886: 5.0, 8848: 5.0}
just_centroid set()
just_user set()
0.0
0.0
0.0

0.0

In [39]:
c_model._distance(u2, c)

just_centroid {8848, 2910, 13886}
just_user set()
0.0
0.0
8.12403840463596

0.08124038404635961

In [37]:
# will clear and add users u2, u
c.add_user(u2)
c.add_user(u)
c.recenter()
print(c.center)

{9511: 4.0, 9704: 3.0, 14354: 4.0, 9999: 4.0, 13520: 4.0, 3718: 5.0, 7601: 4.0, 4321: 5.0, 11129: 5.0, 2910: 4.0, 13886: 5.0, 8848: 5.0}

In [38]:
print(c.center)
print(u2.ratings)

        
set_centroid = set(c.center.keys())
set_user =  set(u2.ratings.keys())

# intersection only 
intersection = set_centroid & set_user
                
print(intersection)

{9511: 4.0, 9704: 3.0, 14354: 4.0, 9999: 4.0, 13520: 4.0, 3718: 5.0, 7601: 4.0, 4321: 5.0, 11129: 5.0, 2910: 4.0, 13886: 5.0, 8848: 5.0}
{9511: 4.0, 9704: 3.0, 14354: 4.0, 9999: 4.0, 13520: 4.0, 3718: 5.0, 7601: 4.0, 4321: 5.0, 11129: 5.0}
{4321, 3718, 9511, 9704, 9999, 13520, 7601, 14354, 11129}

In [16]:
for k in u.ratings:
    print(k)

2910
13886
8848

In [175]:
c_model.clusters[1].center

{96: 4.0,
 7116: 5.0,
 7361: 5.0,
 8285: 4.0,
 9516: 4.0,
 10141: 5.0,
 11536: 5.0,
 14914: 5.0}

## doing k_means

In [ ]:
from clustering import *

c_model = ClusteringModel(num_iterations=2)
c_model.fit(train)