In [66]:
import numpy as np 
import pandas as pd

from data import RandomData, MovieLensData
from model import RandomModel

%matplotlib inline

In [9]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

### Load Data

In [20]:
dataset = MovieLensData(frac=0.01).get_dataset()
train = dataset['train']

In [27]:
train['user_product_ratings'].head()

          user_id  product_id  rating
24039965    62768       27482     3.0
21057549    49882       30893     4.5
3974640     77496       38335     4.5
24286625    63857       32393     2.5
21414930    51461       29529     5.0

In [80]:
X = train['user_product_ratings'].groupby('user_id', as_index=False).count()
X.head()

   user_id  product_id  rating
0        0           1       1
1        1           1       1
2        2           5       5
3        3           3       3
4        4           3       3

In [29]:
train['user_product_ratings'].groupby('product_id')['rating'].mean()

product_id
0    3.893333
1    3.476000
2    3.366667
3    1.666667
8    0.500000
Name: rating, dtype: float64

In [64]:
x = train['user_product_ratings']
y = x[x.product_id == 27482][['user_id', 'rating']]
y.rating -= 3.2

a = train['user_product_ratings']
b = a[a.product_id == 30893][['user_id', 'rating']]
b.rating -= 3.2
(b.rating * y.rating).fillna(0).sum() / np.sqrt((b.rating * b.rating).sum()) / np.sqrt((y.rating * y.rating).sum())

0.0

### MSE Accuracy Metric

In [25]:
def evaluate_model(model, user_product_ratings_test):
    pred = model.predict(user_product_ratings_test[['user_id', 'product_id']])
    mse = np.mean((pred - user_product_ratings_test.rating) ** 2.)
    print(f'MSE: {mse:.2f}')
    return mse

In [57]:
model = RandomModel()
model.fit(train)
evaluate_model(model, train['user_product_ratings'])

MSE: 5.66

5.66213712168005